@page "/"


    <h3>Simple Lightbox Component</h3><br/>
    <h4>Click the thumbnail below to activate the lightbox</h4>


    <div class="main_center">
        <LightboxComponent 
            ThumbnailSource="https://picsum.photos/seed/5/" 
            LargeImageSource="https://picsum.photos/seed/5/">
        </LightboxComponent>
    </div>


