@page "/LightboxWithVideo"

<h3>Simple Lightbox Component</h3>
<br />
<h4>Click the thumbnail below to activate the lightbox</h4>


<div class="main_center">
    <LightboxComponent 
        ThumbnailSource="https://picsum.photos/seed/8/" 
        VideoSource="https://player.vimeo.com/video/347119375">
    </LightboxComponent>
</div>
